.bodydiv{
  height: 100vh;
  width: 100%;
  font-size: 50px;
  background-color: rgb(26, 0, 26);
  color: rgb(199, 169, 0);
  text-shadow: 5px 10px 4.5px rgba(0,0,0,0.7);
  margin: 0px;
  display: grid;
  grid-template-columns: 0.3fr;

  align-items: center;
  justify-content: center;
}
.maindiv{
  background-color: rgb(4, 0, 4);
  display: grid;
  height: 280px;
  grid-template-rows: 100px 1fr ;
  text-align: center;
  border-radius: 10px;
  
}
.timediv{
  display: grid;
  width: 100%;
  height: 100%;
  background-color: rgb(51, 0, 51);
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.title{
  background-color: rgb(75, 0, 75);
  font-size: 80px;
  width: 100%;
  padding: 0px 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.hour, .min, .sec{
  background-color: rgb(26, 0, 26);
  margin: 5px;
  border-radius: 10px;
}
